html {
  width: 100%;
  height: 100%;
  background-color: #333;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.main-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 6px;
  background: #fff;
  font-family: 'verdana', sans-serif;
  text-align: center;
  width: 100%;
  max-width: 350px;
  min-height: 400px;
  color: #111;
  padding: 30px;
  box-shadow: 0 14px 28px #00000020, 0 10px 10px #00000022;
}

.sub-item-wrapper {
  display: flex;
  justify-content: space-between;
}

.btn {
  font-size: 24px;
  padding: 5px;
  margin-bottom: 10px;
  border: none;
  border-radius: 3px;
  background: #a0fc8d;
}

.notify-btn {
  background: #60c5ff;
}

.btn:disabled {
  background: #999;
  color: #222;
}

.unsubscribe-btn {
  background: #f55;
}

.btn-loading::after {
  content: '';
  display: block;
  margin: 10px auto;
  width: 25px;
  height: 25px;
  background: #111;
  animation-name: loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes loading {
  0% {
    transform: 0;
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

.main-headline {
  font-size: 30px;
  margin-bottom: 10px;
}